<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762323268291-6oj9n7500grc40fbes4oauim51ju7dd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762323268291-6oj9n7500grc40fbes4oauim51ju7dd3</string>
	<key>API_KEY</key>
	<string>AIzaSyBWnzFCMpc-MWjBePJ5PMWRa9dMaopc3Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>762323268291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triptracker.app</string>
	<key>PROJECT_ID</key>
	<string>trip-expense-tracker-472114</string>
	<key>STORAGE_BUCKET</key>
	<string>trip-expense-tracker-472114.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762323268291:ios:c9f702603de33c87492876</string>
	<key>DATABASE_URL</key>
	<string>https://trip-expense-tracker-472114-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>